<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guotu.gt.mapper.BasicinfoRegionMapper">
    <!--根据地区编码查找-->
    <select id="findByCode" parameterType="int">
        select * from basicinfo_region where code = #{code}
    </select>

    <!--根据地区等级查找-->
    <select id="findByLevel" parameterType="int">
        select * from basicinfo_region where region_level = #{level}
    </select>

    <!--根据上级地区查找-->
    <select id="findByParent" parameterType="int">
        select * from basicinfo_region where region_parent_id = #{parentId}
    </select>
</mapper>
