<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.guotu.gt.mapper.BasicinfoActionLogMapper">

    <delete id="deleteByCode" parameterType="Integer">
        DELETE FROM basicinfo_action_log
        WHERE code =#{code}
    </delete>

    <select id="selectNameByCode" parameterType="Integer" resultType="String">
        SELECT name
        FROM basicinfo_action_log
        WHERE code =#{code}
    </select>

    <select id="selectAll" resultType="com.guotu.gt.dto.BasicinfoActionLogDTO">
        SELECT bal.code AS code,
        bal.name AS name,
        bd.department_name AS departmentName,
        bal.opt_object AS optObject,
        CONCAT(bal.opt_type, bal.description) AS description,
        bal.opt_time AS optTime
        FROM permission_user AS pu
        RIGHT JOIN basicinfo_action_log AS bal ON (bal.user_code = pu.code)
        LEFT JOIN basicinfo_department AS bd ON (pu.department_code = bd.code)
        ORDER BY bal.opt_time
    </select>

    <select id="selectByPeriod" resultType="com.guotu.gt.dto.BasicinfoActionLogDTO">
        SELECT bal.code AS code,
        bal.name AS name,
        bd.department_name AS departmentName,
        bal.opt_object AS optObject,
        CONCAT(bal.opt_type, bal.description) AS description,
        bal.opt_time AS optTime
        FROM permission_user AS pu
        RIGHT JOIN basicinfo_action_log AS bal ON (bal.user_code = pu.code)
        LEFT JOIN basicinfo_department AS bd ON (pu.department_code = bd.code)
        WHERE (bal.opt_time BETWEEN #{startTime} AND #{endTime})
        ORDER BY bal.opt_time
    </select>

    <insert id="insert" parameterType="BasicinfoActionLog" useGeneratedKeys="true" keyProperty="code">
        INSERT INTO basicinfo_action_log (user_code, name, opt_object, opt_type, description, opt_time)
        VALUES (#{userCode},
        (SELECT name FROM permission_user WHERE code = #{userCode}),
        #{optObject},
        #{optType},
        #{description},
        #{optTime})
    </insert>

</mapper>