<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guotu.gt.mapper.PermissionUserDTOMapper">

    <!--在用户信息表上增加一个用户信息-->
    <insert id="add" parameterType="PermissionUserDTO" useGeneratedKeys="true" keyProperty="code">
        INSERT INTO permission_user(name, password, email, contact, department_code, enable)
        VALUES (#{name},#{password},#{email},#{contact},
        (select code  from basicinfo_department where name = #{department}), 1)
    </insert>

    <!--在用户信息表上更新一个用户信息-->
    <update id="update" parameterType="PermissionUserDTO">
        update permission_user pu inner join (select code,name from basicinfo_department)bd
        on bd.name = #{department} set
        pu.name = #{name},
        pu.password = #{password},
        pu.email = #{email},
        pu.contact = #{contact},
        pu.department_code = bd.code
        where pu.code = #{code}
    </update>

    <!--在用户信息表上根据code删除-->
    <delete id="delete" parameterType="int">
        delete from permission_user where code = #{code}
    </delete>

    <!--查询所有-->
    <select id="findAll" resultType="PermissionUserDTO">
        select pu.code, pu.name, pu.password, pu.email, pu.contact,
        (select pr.name from permission_role pr where pr.code =pur.role_code) as roleName,
        bd.name as department
         from permission_user pu
         left join basicinfo_department bd on pu.department_code = bd.code
         left join permission_user_role pur on pu.code = pur.user_code
    </select>

    <!--根据用户名查询一个用户信息实体-->
    <select id="findDomainByName" resultType="PermissionUser">
        select *
        from permission_user
        where name =#{name}
    </select>

    <!--根据用户名查询一个用户信息实体-->
    <select id="findByName" resultType="PermissionUserDTO">
        select pu.code, pu.name, pu.password, pu.email, pu.contact,
        (select pr.name from permission_role pr where pr.code =pur.role_code) as roleName,
        bd.name as department
         from permission_user pu
         left join basicinfo_department bd on pu.department_code = bd.code
         left join permission_user_role pur on pu.code = pur.user_code
         where pu.name = #{name}
    </select>

    <!--根据用户编码查询一个用户信息实体-->
    <select id="findByCode" resultType="PermissionUserDTO">
        select pu.code, pu.name, pu.password, pu.email, pu.contact,
        (select pr.name from permission_role pr where pr.code =pur.role_code) as roleName,
        bd.name as department
         from permission_user pu
         left join basicinfo_department bd on pu.department_code = bd.code
         left join permission_user_role pur on pu.code = pur.user_code
         where pu.code = #{code}
    </select>
</mapper>
