<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.guotu.gt.mapper.PermissionUserRoleMapper">

    <select id="selectByUserCode" parameterType="String" resultType="com.guotu.gt.domain.PermissionUserRole">
        SELECT * FROM permission_user_role
        WHERE user_code = #{code}
    </select>

    <insert id="insert" parameterType="com.guotu.gt.domain.PermissionUserRole">
        INSERT INTO permission_user_role
        VALUES(#{userCode},
        #{roleCode})
    </insert>

    <update id="updateByUserCode" parameterType="com.guotu.gt.domain.PermissionUserRole">
        UPDATE permission_user_role
        SET role_code =#{roleCode}
        WHERE user_code =#{userCode}
    </update>

    <delete id="deleteByUserCode" parameterType="String">
        DELETE FROM permission_user_role
        WHERE user_code =#{userCode}
    </delete>

</mapper>