<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.guotu.gt.mapper.PermissionRoleMenu2OperationMapper">

    <select id="selectByRoleCode" parameterType="Integer" resultType="com.guotu.gt.domain.PermissionRoleMenu2Operation">
        SELECT * FROM permission_role_menu2_operation
        WHERE role_code =#{roleCode}
    </select>

    <insert id="insert" parameterType="com.guotu.gt.domain.PermissionRoleMenu2Operation">
        INSERT INTO permission_role_menu2_operation
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
        (
        #{roleCode},
        #{menu2Code},
        #{operationCode}
        )
        </foreach>
    </insert>

    <update id="updateByRoleCode" parameterType="com.guotu.gt.domain.PermissionRoleMenu2Operation">
        UPDATE permission_role_menu2_operation
        SET menu2_code =#{menu2Code},
        operation_code =#{operationCode}
        WHERE role_code =#{roleCode}
    </update>

    <delete id="deleteByRoleCode" parameterType="Integer">
        DELETE FROM permission_role_menu2_operation
        WHERE role_code =#{roleCode}
    </delete>

    <select id="open" parameterType="Integer" resultType="UserManagementDTO">
        SELECT
        po.name AS operationName,
        pm2.name AS menu2Name,
        pr.name AS roleName,
        pmo.menu2_code AS menu2Code,
        pmo.operation_code AS operationCode
        FROM
        permission_role_menu2_operation AS prmo
        INNER JOIN permission_role AS pr ON prmo.role_code = pr.code
        RIGHT JOIN permission_menu2_operation AS pmo
        ON prmo.menu2_code = pmo.menu2_code AND prmo.operation_code = pmo.operation_code AND prmo.role_code = #{roleCode}
        INNER JOIN permission_menu2 AS pm2 ON pmo.menu2_code = pm2.code
        INNER JOIN permission_operation AS po ON pmo.operation_code = po.code
    </select>
</mapper>