<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.guotu.gt.mapper.PermissionUserRoleMapper">

    <update id="updateRoleCodeToNew">
        UPDATE permission_user_role
        SET role_code =#{newRoleCode}
        WHERE role_code =#{oldRoleCode}
    </update>

    <select id="findDomainByUserCode" parameterType="Integer" resultType="com.guotu.gt.domain.PermissionUserRole">
        SELECT *
        FROM permission_user_role
        WHERE user_code =#{userCode}
    </select>

</mapper>